[Unit]
Description=Litecoin Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/litecoind -conf=/etc/litecoin/litecoin.conf
User=litecoin
Group=litecoin
Type=simple

[Install]
WantedBy=multi-user.target
